* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

.main {
	background-color: hsl(212, 45%, 89%);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.card-qr-code {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(0, 0%, 100%);
	flex-direction: column;
	width: 320px;
	height: 480px;
	border-radius: 15px;
	.qr-texts {
		display: grid;
		gap: 10px;
		width: 288px;
		font-size: 15px;
		padding: 10px;
		font-family: Outfit;
		text-align: center;
		h1 {
			color: hsl(218, 44%, 22%);
			font-weight: 700;
		}
		p {
			color: hsl(220, 15%, 55%);
		}
	}
}

img {
	border-radius: 8px;
	margin-bottom: 15px;
	height: 288px;
}
